<div class="doc-details" *ngIf="!isLoading && document; else loadingTpl">
  <mat-card class="a4">
    <h1>{{ document.titre }}</h1>
    <div class="description" [innerHTML]="document.description"></div>
  </mat-card>
  <div class="mb-3">
    <label  class="form-label">Description</label>
    <app-quill-editor  [(content)]="description" [theme]="'snow'"></app-quill-editor>
  </div>
  <mat-card class="files">
    <h2>Fichiers associés</h2>
    <mat-list>
      <mat-list-item *ngFor="let file of document.fichiers" (click)="openFile(file)">
        <a [href]="downloadUrl(file)">
        <mat-icon matListIcon>insert_drive_file</mat-icon>
        <div matLine>{{ file.fileName }}</div>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
<div>
  <ul *ngIf="filesToUploads">
    <div *ngFor="let up of uploadings; let i = index" class="file" [ngClass]="up.status">
      <label class="file" > <i class="fa fa-file-text"> </i>
        {{ up.file.name}}
      </label>
      <span (click)="removeFile(i)" style="float: right;"> {{ up.status }} <i class="fa fa-remove"></i></span>
    </div>
  </ul>
  <div *ngIf="filesToUploads">
   <button (click)="uploadFils()"> Téléverser   </button>

  </div>
</div>
<div
  (click)="fileInput.click()"
  class="file-drop-zone">
  <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
  <p>Glissez-déposez vos fichiers ou cliquez pour les sélectionner</p>
</div>

<div>
<ng-template #loadingTpl >
  <div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
